html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#Zone{
  color: red;
}

body {
  background: #0f0f0f;
  color: #f2f2f2;
  line-height: 1.6;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* Navbar */
header {
  background: #111;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #f2f2f2;
}

.btn {
  background: #ff3c3c;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
}

.btn.big {
  padding: 0.7rem 1.4rem;
  font-size: 1.1rem;
}

/* Sections */
.section {
  max-width: 900px;
  margin: auto;
  padding: 4rem 1rem;
}

.section.alt {
  background: #181818;
}
.section.alt2{
    background: #181818;
}

.section h2 {
  margin-bottom: 1rem;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

/* Lists */
.list {
  list-style: disc;
  margin-left: 1.5rem;
}

/* Gallery future development*/
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  
}
#team{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.placeholder {
  background: #333;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
}

/* Download */
.download {
  text-align: center;
}

/* Footer */
footer {
  background: #111;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "BUTTON";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #06030c;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #d3161f;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #f3f2f5;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
